body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-video {
  grid-column: 1 / -1; /* 그리드 열 전체 차지 */
  max-width: 45vw;
  width: 100%;
  height: auto;
  border: 2px solid #2196f3;
  border-radius: 8px;
  font-size: 3rem;
}

.sub-video {
  grid-column: span 1;
  width: 100%;
  max-width: 20vw;
  height: auto;
  border-radius: 6px;
  font-size: 1.5rem;
}
